<form class="form-inline mb-3" ng-submit="validateIban()">
    <input class="form-control mr-sm-2" type="text" placeholder="Wpisz number IBAN" aria-label="Search" ng-model="ibanNumber">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sprawdź</button>
</form>
<div class="alert" ng-class="{'alert-info': alertStatus == 'Info' , 'alert-success': alertStatus == 'Success',
              'alert-danger': alertStatus == 'Incorrect'}" ng-if="alert">{{ alert }}</div>