<div ng-controller="Task3Controller as ctrl">
    <table ng-table="ctrl.tableParams" class="table" show-filter="true">
        <tr ng-repeat="data in $data">
            <td title="'Odbiorca'" filter="{ name1: 'text'}" sortable="'name1'" ng-model="name1">
                {{data.beneficiary.name1}}
            </td>
            <td title="'Nr konta'" sortable="'accountNumber'">
                {{data.beneficiary.accountNumber}}
            </td>
            <td title="'Tytuł przelewu'" filter="{ description: 'text'}" sortable="'description'">
                {{data.transactionData.description}}
            </td>
            <td title="'Kwota'" sortable="'amount'">
                {{data.transactionData.amount}} {{data.transactionData.currencyCode}}
            </td>
            <td title="'Data modyfikacji'">
                {{data.modificationTime.day}}.{{data.modificationTime.month}}.{{data.modificationTime.year}}
            </td>
        </tr>
    </table>
</div>
