<div ng-controller="Task1Controller">
    <form class="form-inline mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="tax-symbol">Wyszukaj</span>
            </div>
            <input class="form-control" type="text" ng-model="userInput" placeholder="Wpisz symbol formularza" aria-label="Tax-symbol" aria-describedby="tax-symbol">
        </div>
    </form>
    <ul class="list-group list-group-flush" ng-if="userInput.length > 0">
        <li class="list-group-item" ng-repeat="symbol in symbols">{{symbol.value}}</li>
    </ul>
</div>
